@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #06080F;
        color: #F1F5F9;
        font-family: 'Inter', sans-serif;
        overflow-x: hidden;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #06080F;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 4px;
    border: 1px solid rgba(0, 240, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: #00F0FF;
}